{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ul>
	{%- for post in postslist | reverse %}
		<li>
			<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
			</br>
			<span><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></span>
			</br>
			<span>{{ post.data.description }}</span>
		</li>
	{%- endfor %}
</ul>
