---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

{{ content | safe }}

<div class="post-metadata">
	<div>
		<span>Published: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}.</time></span>
	</div>
	<div>
		<span>Tags:&ensp;</span> 
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<span><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %},&ensp;{% endif %}</span>
		{%- endfor %}
	</div>
</div>

<h2> About the Author </h2>
<p>Samuel R. Mendez, PhD, is a researcher focused on media, technology, and science communication. They have their PhD from the Harvard T.H. Chan School of Public Health. Their research has been published in journals including <i>Health Communication</i> and <i>Social Science and Medicine</i>. Their expert quotes appear in news stories from <i>Nature</i> and <i>New Hampshire Public Radio</i>.</p>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}